body {
    background-color: #f4f6f8;
}

/* En tete de la page */
header {
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.containerHeader{
    font-size: 3rem;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
}
h1{
    width: 322px;
    left: 266px;
    top: 122px;
    border-radius: nullpx;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;    
}
/* etape menu deroulant */
.sectionRegles{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    margin: auto;
    width: 85%;
    /* width: 943px; */
    /* height: 200px; */
    left: 267px;
    top: 943px;

    background: #FFFFFF;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

ol{
    list-style-image:url('../images/bullet.png');
    font-size: 16px;
    font-weight: 400px;
}

.sectionCode{
    margin: auto;
    box-sizing: border-box;
    left: 266px;
    top: 878px;
}
.footer{
    display:flex;
    width: 100%;
}
.boutonGithub{
    display: flex;
    width: 193px;
    height: 41px;
    background: #CE0033;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
.boutonRandom{
    display: flex;
    margin:auto;
    top: 1143px;
    width: 193px;
    height: 41px;
    background: #CE0033;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.textBouton{
    color: #FFFFFF;
    display: flex;
    margin: auto;
  }
a{
    color: #FFFFFF;
    text-decoration:none;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

  /* Menu accordeon */
.accordion {
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    cursor: pointer;
    color: black;
    font-size: 2.3rem;
}
.accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 1em;
}

/*  */
/* ************* */
/* Media queries */
/* ************* */

@media screen and (max-width: 768px) {
    header .title {
      font-size: 2.5rem;
    }
    header {
        width: 100%;
    }
    .containerHeader{
        width: 100%;
    }
    .align-right {
      text-align: center;
    }
    .sectionRegles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .boutonGithub {
    order: 1;
  }
}

 