/* En tete de la page */
.header{
    height: 72px;
    /* width: 1440px; */
    left:0;
    top:0;
    border-radius: 0px;  
    position: fixed;
    z-index: 2;
    background-color: white;
}
main.container{
    margin-top: 100px;
}

.containerHeader{
    box-shadow: none;
    height: 47px;
    /* width: 473px; */
    margin: 13px 701px 12px 266px;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

h1{
    height: 38px;
    width: 322px;
    left: 266px;
    top: 122px;
    border-radius: nullpx;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;    
}
/* etape menu deroulant */
.sectionRegles{
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    margin: auto;
    /* width: 943px; */
    /* height: 200px; */
    left: 267px;
    top: 943px;

    background: #FFFFFF;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

ol{
    list-style-image:url('../images/bullet.png');
}

.sectionCode{
    margin: auto;
    /* Rectangle 3 */
    box-sizing: border-box;
    /* width: 943px; */
    /* height: 192px; */
    left: 266px;
    top: 878px;

    background: #E4E4E4;
    border: 1px solid #A2A2A2;
    border-radius: 17px;
}
.footer{
    display:flex;
    width: 100%;
}

/* Etape bouton */

.boutonRandom{
    /* Rectangle 4 */
    /* position: absolute; */
    display:flex;
    margin:auto;
    width: 193px;
    height: 41px;
    left: 641px;
    top: 1143px;
    height: 41px;
    background: #CE0033;
    border-radius: 5px;
}
.boutonGithub{
    display: flex;
    width: 193px;
    height: 41px;
    background: #CE0033;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
.boutonRandom{
    display: flex;
    width: 193px;
    height: 41px;
    background: #CE0033;
    border-radius: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.textBouton{
    color: #FFFFFF;
    display: flex;
    margin: auto;
  }
a{
    color: #FFFFFF;
    text-decoration:none;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

  /* Menu accordeon */
.accordion {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.accordion-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.35s;
}
input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 1em;
}

/* Larger than mobile */
@media (max-width: 480px) {
    .menu,header{
        margin : auto;
    }
}

 